body { 
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #e0e0d0;
  color: #444; 
  margin: 0 auto; 
  width: 50%; 
}

div, footer, article {
  margin: 8px;
  padding: 4px;
}

article {
  border: 1px solid #aaa;
}

main div, section div {
  display: inline-block;
  background: #FF8080;
}

.x {
  border: 4px solid rgba(0, 0, 0, 0.125);
}

.red { 
  color: crimson; 
}

.orange {
  color: darkorange;
} 

.yellow {
  color: goldenrod;
}
.green {
  color: forestgreen;
}
.blue { 
  color: cornflowerblue;
}
.purple {
  color: cornflowerblue;
}

footer {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  background: #333;
  color: #bbb;
  margin-top: 32px;
}